<section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_config = function () {
            this.page.url = '{{ .Permalink }}'; // Replace PAGE_URL
            this.page.identifier = '{{ .File.Path | urlize }}'; // Replace PAGE_ID
        };
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + '{{ .Site.Params.disqusShortname }}' + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

<!--
<section class="disqus">
    <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="{{ .Site.Params.cusdisAppID }}"
    data-page-id="{{ .File.Path | urlize }}" 
    data-page-url="{{ .Permalink }}" 
    data-page-title="{{ .Title }}"
    ></div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</section>
-->