<!-- begin post -->
{{ $author := index .Site.Data.authors (.Params.author | default "") }}
<div class="card">
    <a href="{{ .Permalink }}">
        {{ if .Params.image }} 
            <img class="rounded mb-4" src="{{ .Params.image | relURL }}" alt="{{ .Title }}"> 
        {{ end }}
    </a>
    <div class="card-block">
        <h2 class="card-title h4 serif-font">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <p class="card-text text-muted">{{ .Summary | truncate 15 }}</p>
        <div class="metafooter">
            <div class="wrapfooter small d-flex align-items-center">
                <span class="author-meta">
                    By 
                    {{ if .Params.author }}
                        {{ with $author }}
                            {{ .Name }}
                        {{ else }}
                            <span>Author not available</span>
                        {{ end }}
                    {{ else }}
                        {{ .Site.Params.author }}
                    {{ end }},
                    on <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                </span>               
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->